@import "./scss/custom.scss";
/* Remove defaults and standardise inputs fields */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: $r-bg1;
  color: $r-t1;
}

body {
  background-color: $r-bg1;
}

nav {
  background-color: $r-bg1;
}

.jumptarget:before {
  display: block;
  content: " ";
  margin-top: -$nav-height;
  height: $nav-height;
  visibility: hidden;
}

.navbar-responsive {
  height: calc($nav-height + 10px);
}
