@import "./scss/custom.scss";
/* Remove defaults and standardise inputs fields */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(20, 20, 20); */
  color: white;
}

/* Button Formatting */
.contact-btn-dark {
  background-color: $r-yellow;
  color: white;
  border-radius: 1rem;
}

.contact-btn-lg {
  padding: 0.2rem 1.5rem;
  font-size: 1.5rem;
  border: #ffe184 solid 1px;
}
