@import "./scss/custom.scss";
/* Remove defaults and standardise inputs fields */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: $r-bg1;
  color: $r-t2;
  font-family: "Nunito", sans-serif;
  // font-family: "Quicksand", sans-serif;
  // font-family: "Readex Pro", sans-serif;
  // font-family: "Roboto", sans-serif;
  // font-family: "Open Sans", sans-serif;
  font-weight: 300;
  // letter-spacing: -0.02em;
}

body {
  background-color: $r-bg1;
}

nav {
  background-color: $r-bg1;
}

.brand-text {
  font-family: "Quicksand", sans-serif;
  font-family: "Nunito", sans-serif;
}

.title {
  color: $r-t1;
  font-weight: 400;
  text-shadow: rgb(0, 0, 0) 0px 0 3px;
}

.sub-text {
  // font-weight: 300;
  letter-spacing: 0.02em;
}

.jumptarget:before {
  display: block;
  content: " ";
  margin-top: -$nav-height;
  height: $nav-height;
  visibility: hidden;
}

.navbar-responsive {
  height: calc($nav-height + 10px);
}

.image-container {
  // 444 set height the same as welcome section or coaching section?
  height: 400px;
  // 444 Change image to Cloudinary
  background-image: url("./assets/res-waitingRoom.png");
  background-color: black;
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  position: relative;
}

.image-container > p {
  position: absolute;
  top: 3%;
  text-align: center;
  color: black;
  font-weight: 600;
  // text-shadow: rgb(0, 0, 0) 0px 0 3px;

  font-size: 1.3rem;
  line-height: 2rem;
  width: 80%;
}
