@import "./custom.scss";
.contact {
  margin-inline: $bp1;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: $r-bg2;
  padding: 20px;
  border-radius: 0.4rem;
}

.contact-grid {
  display: flex;
  flex-direction: column;
}

.contact-grid > input,
.contact-grid > textarea {
  height: 2rem;
  margin-top: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: rgb(65, 65, 65);
}

.contact-grid > textarea {
  height: 6rem;
}

.form > button {
  background-color: $r-d1;
  color: $r-t2;
  font-size: $size1;
  font-weight: 400;
  height: 2rem;
  border-radius: 0.3rem;
  border: 0.8px solid gray;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 2px;
}

.contact-success,
.contact-failed {
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #689462;
  color: $r-bg1;
  font-size: $size0;
  line-height: 1.5rem;
}

.contact-failed {
  background-color: $r-d2;
}
