@import "../node_modules/bootstrap/scss/bootstrap.scss";
// 444 Make sure to only include parts of BS. (optimise after)
// Required
// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/utilities";

// Create RENASCENCE brand map
$r-yellow: #ffe184;
$r-yellow-icon: #ffe184ee;
$r-red-icon: #d15f54ee;
$r-red: #d15f54;
$r-black: #333333;
$r-black2: #222222;
$r-white: #ffe184;
$r-white2: #eae9e9;

$r-bg1: $r-black;
$r-bg2: $r-black2;
$r-t1: $r-yellow;
$r-t2: $r-white2;
$r-d1: $r-red;
$r-d2: $r-yellow;

// salamander circle text #C4BE90

// FONTS
// testmonials main: 1rem
// testamonials footer: 0.875rem
//
$size1: 1rem;

$nav-height: 4rem;

$bp1: 5vw;

// $custom-colors: (
//   "r-bg1": $r-black,
//   "r-bg2": $r-black2,
//   "r-t1": $r-white,
//   "r-t2": $r-white2,
//   "r-d1": $r-red,
//   "r-d2": $r-yellow,
// );

// // Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors);
