@import "./custom.scss";

.footer {
  margin-inline: $bp1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-text {
  font-weight: 300;
  font-size: 1rem;
  text-align: end;
  // align-items: center;
}

.footer-text > a {
  // text-decoration: none;
  color: $r-t2;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials > a:hover,
.socials > a {
  margin-top: 0.4rem;
  text-decoration: none;
  color: $r-t2;
}

.social-icons {
  display: flex;
  gap: 1rem;
}
