@import "./custom.scss";

.howItWorks {
  margin-inline: 5%;
}

.carousel-caption > p {
  background-color: transparent;
}
.carousel-indicators {
  background-color: transparent;
}
.carousel-indicators > button {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}
