@import "./custom.scss";

.pricing {
  margin-inline: 5vw;
}

.accordion {
  background-color: transparent;
  border: none;
}

.accordion-header {
  border: none;
}

.accordion-item {
  border: none;
}

.accordion-header > button {
  background-color: transparent;
  color: $r-t1;
}
