@import "./custom.scss";

.testamonials {
  margin-inline: 5vw;
}

// Applies across all Carousels
span.carousel-control-next-icon {
  background-color: transparent;
}

span.carousel-control-prev-icon {
  background-color: transparent;
}

// Applies to testamonials Caraousels only
.testamonials-carousel > a > span.carousel-control-next-icon {
  position: absolute;
  right: -2.5vw;
  background-color: transparent;
}
.testamonials-carousel > a > span.carousel-control-prev-icon {
  position: absolute;
  left: -2.5vw;
  background-color: transparent;
}

blockquote {
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 2rem;
  padding-inline: 2rem;
}

blockquote > p {
  font-size: 1rem;
}
.blockquote-footer {
  color: $r-d2;
}

.name {
  color: $r-d2;
}

.blockquote-footer::before {
  //   text-decoration: none;
  color: $r-d2;
}

.carousel-inner {
  //   border: solid gold 2px;
}

.image-container > img {
  width: 100%;
}
