@import "./custom.scss";

.title1 {
  color: $r-t1;
}

.test-card {
  //   border: 0.5rem solid $r-d1;
}

blockquote {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 2rem;
  padding-inline: 2rem;
}

blockquote > p {
  font-size: 1rem;
}
.blockquote-footer {
  color: $r-d2;
}

.name {
  color: $r-d2;
}

.blockquote-footer::before {
  //   text-decoration: none;
  color: $r-d2;
}

.carousel-inner {
  //   border: solid gold 2px;
}

.image-container {
  display: flex;
  justify-content: center;
}
.image-container > img {
  width: 90%;
}
