@import "./custom.scss";

.testamonials {
  margin-inline: $bp1;
}

// Move Arrows Out More
.testamonials-carousel > a > span.carousel-control-next-icon {
  position: absolute;
  right: -2.5vw;
  background-color: transparent;
}
.testamonials-carousel > a > span.carousel-control-prev-icon {
  position: absolute;
  left: -2.5vw;
  background-color: transparent;
}

// For Card Default
.add-flex {
  min-height: 20rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
blockquote {
  // padding-block: 5rem;
  padding-inline: 2rem;
  padding-block: 1rem;
}

// For Text Area
blockquote > p {
  font-size: $size1;
  // line-height: 1.4rem;
}
.blockquote-footer > .name {
  font-size: $size1;
  color: $r-d2;
}
.blockquote-footer::before {
  color: $r-d2;
}
