@import "./custom.scss";

.backgroundImage {
  // 444 Add circle logo to replace.
  // must have red text bg
  background-image: url("https://res.cloudinary.com/sam-renascence/image/upload/v1/images/salamander-circle-yellow_ifhgxt?_a=AJE+xWI0");
  background-color: black;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  // border: 1px solid red;
}

.welcome {
  margin-inline: 5vw;
  padding-top: calc($nav-height + 2rem);

  //   position: relative;
}

.backgroundImage-overlay {
  background-color: #333333cc;
}

.logo {
  //   position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
}

/* Button Formatting */
.contact-btn-dark {
  background-color: $r-d1;
  color: $r-t2;
  // color: #eeeeee;
  border-radius: 0.3rem;
}

.contact-btn-lg {
  padding: 3px 8px;
  font-size: 1rem;
  font-weight: 500;
  // text-shadow: rgba(0, 0, 0, 0.527) 0px 0 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 2px;
  border: $r-d1 solid 3px;
}
