@import "./custom.scss";

.backgroundImage {
  // 444 Add circle logo to replace.
  // must have red text bg
  background-image: url("../assets/r-logo.png");
  background-color: black;
  background-size: 100%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  border: 1px solid red;
}

.welcome {
  margin-inline: 5vw;
  padding-top: calc($nav-height + 10px);
  //   position: relative;
}

.logo {
  //   position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
}

/* Button Formatting */
.contact-btn-dark {
  background-color: $r-d1;
  color: $r-t2;
  border-radius: 0.3rem;
}

.contact-btn-lg {
  padding: 0.2rem 1.5rem;
  font-size: 1.5rem;
  border: $r-d1 solid 3px;
}
