@import "./custom.scss";

.backgroundImage {
  background-image: url("https://res.cloudinary.com/sam-renascence/image/upload/v1/images/salamander-circle-yellow_ifhgxt?_a=AJE+xWI0");
  background-color: black;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

// For button
.welcome > .text-center {
  padding-block: 1rem;
}

.backgroundImage-overlay {
  background-color: #333333cc;
}

.welcome {
  margin-inline: $bp1;
  padding-top: calc($nav-height + 1.5rem);
  @include media-breakpoint-up(xl) {
    margin-inline: $bp2;
  }
}

// On expansion
.welcome-flex {
  @include media-breakpoint-up(md) {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $bp1;
  }
  @include media-breakpoint-up(xl) {
    width: 80vw;
  }
}
.welcome-textbox {
  @include media-breakpoint-up(md) {
    width: 45vw;
  }
}
.welcome-iframe-second {
  @include media-breakpoint-up(md) {
    width: 45vw;
  }
}
